<%= provide(:title, "Upload Illustration") %>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="text-center">Upload Illustration</h2>
      </div>
      <div class="panel-body">
        <%= form_for @data[:illustration] do |f| %>
            <div class="form-group">
              <%= render 'shared/error_messages', object: f.object %>
            </div>
            <%= render 'illustrations/form_fields', f: f %>
        <% end %>
      </div>
    </div>
  </div>
</div>